.output_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.output {
  align-content: flex-start;
  background-color: #FFF;
  border: 0;
  border-radius: 15px;
  display: flex;
  font-size: 8px;
  font-family: none;
  flex-wrap: wrap;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 15px;
  position: relative;
  height: 450px;
  width: 100%;
  white-space: pre-wrap;
}

.output_overlay {
  align-items: flex-end;
  display: flex;
  height: 450px;
  justify-content: flex-end;
  left: 0;
  padding: 20px;
  position: absolute;
  transition: all .75s;
  top: 0;
  width: 100%;
}

.output_overlay svg {
  visibility: hidden;
}

.output_overlay:hover {
  background-color: rgba(14, 91, 206, 0.35);
}

.output_overlay:hover svg {
  visibility: visible;
}

@media (min-width: 930px) and (max-width: 1300px) {
  .output {
    font-size: 4px;
  }
}

@media (max-width: 1150px) {
  .output_container {
    padding-top: 20px;
    width: 90%;
  }

  .output {
    font-size: 4px;
    width: 90%;
  }
}