.output {
  background-color: #FFF;
  border: 0;
  border-radius: 15px;
  display: flex;
  font-size: 9px;
  font-family: none;
  flex-wrap: wrap;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 15px;
  height: 430px;
  width: 100%;
  white-space: pre-wrap;
}

.output_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}