.main_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: center;
}

/* Font-size change for not broken in md screens */
@media (min-width: 1150px) and (max-width: 1300px) {
  .main_container {
    font-size: 12px;
  }
}

/* Columns layout */
@media (max-width: 1150px) {
  .main_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding-top: 30px;
  }
}