.emoji_picker_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

@media (max-width: 930px) {
  .emoji_picker_container {
    padding-top: 20px;
    width: 90%;
  }
}