.input_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.input {
  border: 0;
  border-radius: 15px;
  font-size: 25px;
  margin-top: 20px;
  outline: none;
  padding: 15px;
  resize: none;
  height: 430px;
  width: 100%;
}

@media (max-width: 930px) {
  .input_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .input {
    height: 250px;
    width: 90%;
  }
}