.header_container {
  align-items: flex-end;
  display: flex;
  font-size: 60px;
  font-weight: bold;
  height: 20vh;
  justify-content: center;
}

.logo {
  width: 400px;
}

/* Columns layout */
@media (max-width: 1150px) {
  .logo {
    width: 300px;
  }
}