.footer {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 10vh;
  justify-content: center;
}

.footer > span {
  padding: 10px;
}

.footer a {
  color: #fff;
  font-size: 24px;
  padding-left: 10px;
  text-decoration: none;
  transition: 0.6s;
}

.footer a:hover {
  color:#e7e877;
}

@media (max-width: 930px) {
  .footer {
    font-size: 12px;
  }

  .footer a {
    font-size: 16px;
  }
}