.tranform_button_container {
  display: flex;
  width: 250px;
  justify-content: center;
}

.button {
  background: #ffffff;
  border: 2px solid #494949 !important;
  color: #494949 !important;
  cursor: pointer;
  display: inline-block;
  font: 22px 'Indie Flower', sans-serif;
  padding: 10px;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  width: 120px;
}

.button:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}