.customize_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin-left: 1%;
  margin-right: 1%;
  width: 25%;
}

.customize_controls_container {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  display: flex;
  height: 450px;
  margin-top: 20px;
}

/* Font-size change for not broken in md screens */
@media (min-width: 1150px) and (max-width: 1300px) {
  .customize_container {
    font-size: 12px;
  }
}

/* Columns layout */
@media (max-width: 1150px) {
  .customize_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 20px;
    width: 82%;
  }

  .customize_controls_container {
    flex-direction: column;
    height: 1125px;
  }
}